*{
    box-sizing: border-box;
}
body{
    background-color: powderblue;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    background-color: violet;
    min-height: 100px;
    width: 520px;
    margin: 100px auto;
    border-radius: 5px;
    height: auto;

}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.base h3{
    font-size: 28px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-weight: normal;
    color: navajowhite;
    background: white;
    padding: 6px;
}
.block{
    width: 135px;
    padding: 5px 15px;
    margin-left: 20px;
   display: inline-block;
    float: left;
}
.title{
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: black;
    word-spacing: 2.2px;
}
input[type=text]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid black;
    border-radius: 2px;
    color:black;
    font-size: 15px;
    padding: 10px;
}
input[type=button]{
    width: 100px;
    margin-left: 35%;
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color:rgb(80, 18, 138) 
    padding 15 px 16px;
    color: black;
    font-size: 12px;
}
input[type=button]:hover{
    background-color: burlywood;
}